{% extends 'LangLanguageBundle::layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Herramienta creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('herramienta') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
